span.slab-rect
{
    float: left;
    height: 30px;
    position: relative;
    width: 60px;
    margin: 5px;
    border: #808080 solid 1px;
}

span.slab-button
{
    cursor: pointer;
}

div.slab-container
{
    float: left;
    padding: 100px 10px;
    position: relative;
}

